* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

/* 8783d1-aa9aba-bfa4a4-d1abad-e3b9bc */

html,
body {
  overflow-x: hidden;
  background-color: #f1efef;
}

h1 {
  letter-spacing: 9px;
  text-shadow: 1px 1px 1px black;
  color: #8783d1;
  font-size: 2.5rem;
  margin: 1rem 0.5rem;
  font-family: 'Poppins', sans-serif;
}
form button {
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #8783d1;
  padding: 0.4rem;
  border-radius: 3px;
  color: white;
  transition: 0.35s;
}

form button:hover {
  cursor: pointer;
  background-color: #aa9aba;
}

#canv {
  touch-action: none;
  margin-left: 0.5rem;
  cursor: crosshair;
}

.paint {
  display: flex;
  align-items: flex-start;
}

.colorpick {
  margin: 0.4rem;
  display: flex;
  align-items: center;
}

input[type='color'] {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

form {
  display: flex;
  align-items: center;
}

input[type='text'] {
  background-color: #f1efef;
  margin: 1rem;
  position: relative;
  width: 120px;
  height: 38px;
  border: 0;
  outline: 0;
  border-bottom: 3px solid #b3b3b3;
  font-size: 1.3rem;
  border-radius: 3px;
  box-shadow: none;
  color: #111;
  transition: 0.25s ease-in;
}

input[type='text']:focus {
  width: 200px;
  border-color: #aa9aba;
}

#root > div:nth-child(2) {
  margin: 0 0.5rem;
  display: grid;
  gap: 28px;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-item {
  border: 1px solid black;
  box-shadow: 5px 10px 1px #aa9aba;
  margin: 0.2rem;
  color: white;
  background-color: #8783d1;
  display: flex;
  align-items: center;
}

.gallery-item img {
  margin: 0.5rem 1rem;
  border: 1px solid black;
}
.fa-user {
  margin-right: 0.35rem;
}
small {
  line-height: 1.7;
  font-size: 1.2rem;
}

@media screen and (max-width: 1510px) {
  #root > div:nth-child(2) {
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 935px) {
  #root > div:nth-child(2) {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 435px) {
  :root {
    font-size: 87%;
  }
  input[type='text']:focus {
    width: 160px;
  }

  .gallery-item img {
    width: 145px;
  }
}

@media screen and (max-width: 325px) {
  h1 {
    font-size: 2rem;
  }
}
